/* base rules  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}
html{
    font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Poppins", sans-serif;
}

p,li,a,label{
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    line-height: 1.5;
}

a{
    text-decoration: none;
    cursor: pointer;
}

li{
    list-style: none;
}
/* theme  */

:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  /* --bg-color: #ffffff; */
  --bg-color: #f7fcff;
  --heading-color: #000a19;
  --hero-heading-color: #003b99;
  --white-color: #ffffff;
  --para-color: #504e4d;
  --bnt-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --footer-bg-color: #040d12;
}

/* layout  */

/* module  */

/* state  */


